<footer class="my-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-4">
      <h2>Visa Americana</h2>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <h5>Contacto</h5>
        <p>
          <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
            Facebook
          </a>
        </p>
        <p>
          <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>
        </p>
        <p>
          <i class="fas fa-phone-alt"></i>
          +57 123 456 78 90
        </p>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <h5>Otros links</h5>
      </div>
    </div>

    <hr>

    <div class="row">
      <p style="text-align: center;">
        Todos los derechos reservados <i class="far fa-copyright"></i> {{ date}}</p>
    </div>

  </div>
</footer>