<nav  class="navbar navbar-expand-sm navbar-dark" 
      style="background-color: #04336e; padding: 10px 15px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-flag-usa fa-lg"></i>
      <span style="font-weight: bold;"> INICIO</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <div class="navbar-nav d-flex">  
        <a class="nav-link" routerLink="/login">
            <i class="far fa-id-card"></i>
            Mi cuenta
          </a>
        <a class="nav-link" routerLink="/soporte">Soporte</a>
      </div>
    </div>
  </div>
</nav>