<nav  class="navbar navbar-expand-sm navbar-dark" 
      style="background-color: #04336e; padding: 8px 30px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img  src="assets/images/logo.webp" alt="logo" style="width: 65px;">
      <span style="font-weight: bold;"> INICIO</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <div class="navbar-nav d-flex">  
        <a class="nav-link" routerLink="/dashboard" style="font-size: large;">
          <i class="far fa-id-card"></i>
          Mi cuenta
          </a>
        <a class="nav-link" routerLink="/soporte" style="font-size: large;">
          <i class="fas fa-cog"></i>
          Soporte
        </a>
      </div>
    </div>
  </div>
</nav>