.my-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}

.section2 {
  justify-content: space-around;
  margin: 20px 100px;
}

.my-container::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 30px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background-image: url('/assets/images/passport-fondo.PNG'); 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-container .section2 {
  position: relative;
  z-index: 2;
}

.sub-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  p {
    margin-top: 10px;
  }
}

.forms {
  width: 100%;
}

.icon-btn button{
  float:left;
  margin:10px;
}