.section2 {
  justify-content: space-around;
  margin: 50px 20px;
}

.sub-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    margin-top: 10px;
  }
}

.forms {
  width: 100%;
}