<div class="my-container">

  <div class="row section2">
    <div class="col-md-5 col-sm-10 sub-section2">
      <h2>Empezar Tramites de Visa Americana</h2>
      
      <form [formGroup]="empezarTramiteForm" (ngSubmit)="empezarSubmit()" class="d-grid forms">
        <div class="mb-3">
          <label for="tipo-tramite1" class="form-label">
            Tipo de trámite:
          </label>
          <select class="form-select" formControlName="tipoTramite" id="tipo-tramite1">
            <option *ngFor="let tramite of tipoTramite" 
            [value]="tramite">{{ tramite }}</option>
          </select>
        </div>
        
        <div class="mb-3">
          <label for="tipo-tramite2" class="form-label">
            Tipo de visa:
          </label>
          <select type="email" class="form-select" formControlName="tipoVisa" id="tipo-tramite2">
            <option *ngFor="let visa of tipoVisa" 
            [value]="visa">{{ visa }}</option>
          </select>
        </div>
        
        <button class="btn-green" type="submit">
          <span class="btn-gradient">
            <i class="fas fa-user-plus"></i>
          </span>
          <span class="btn-text">Iniciar Trámite</span>
        </button>
      </form>
    </div>
    
    <div class="col-md-5 col-sm-10 sub-section2">
      <h2>Verificar Estado de Mi Visa Americana</h2>
      <img src="/assets/images/aguila-img1.jpg" alt="escudo" style="width: 150px;">
      <div>
        <span>¿Ya te encuentras registrado? Inicia sesión con tu cuenta en el siguiente botón:</span>
        <button class="btn-blue" routerLink="/login">
          <span class="btn-gradient">
            <i class="fa fa-sign-in-alt"></i>
          </span>
          <span class="btn-text">Ingresar Panel</span>
        </button>
      </div>
      
      <!-- <form [formGroup]="verficarEstadoForm" (ngSubmit)="verificarSubmit()" class="d-grid forms">
        <div class="mb-3">
          <label for="verificar-estado1" class="form-label">
            Correo electrónico:
          </label>
          <input type="email" class="form-control" formControlName="email" id="verificar-estado1">
        </div>
        
        <div class="mb-3">
          <label for="verificar-estado2" class="form-label">
          Contraseña:
        </label>
        <input type="password" class="form-control" formControlName="password" id="verificar-estado2">
      </div>
      
      <button class="btn-blue" type="submit">
        <span class="btn-gradient">
          <i class="fa fa-sign-in-alt"></i>
        </span>
        <span class="btn-text">Ingresar Panel</span>
      </button>
    </form> -->
  </div>
</div>
</div>