<div class="container">
 
  <div class="card">
    <div class="card-header">
      <b>Iniciar Sesión</b> 
    </div>

    <div class="card-body">
      <form class="form-login">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo electrónico:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button class="btn" type="submit"
                style="background-color: #04336e; border-color: #04336e; color: white;">
        <i class="fas fa-sign-in-alt"></i>
        Ingresar Panel
      </button>
      </form>
    </div>
  </div>

  <img  src="assets/images/aguila-img1.jpg" alt="aguila-img1"
        style="margin-bottom: 30px;">
</div>

<app-footer></app-footer>