<div class="container" style="margin: 50px auto;">
  <h5>¡Registro para Trámite de Visa Americana!</h5>
  <p class="mb-4">
    Iniciaremos con su trámite para <b>{{ visa }}</b> tipo <b>{{ tramite }}</b>.
  </p>

  <form style="font-size: small;">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <label for="nombres" class="form-label">
            Nombre(s)<span class="text-danger">*:</span>
          </label>
          <input  type="text" class="form-control form-control-sm" id="nombres" 
                  placeholder="Ingrese sus nombres">
        </div>
        <div class="mb-3">
          <label for="apellidos" class="form-label">
            Apellido(s)<span class="text-danger">*:</span>
          </label>
          <input  type="text" class="form-control form-control-sm" id="apellidos" 
                  placeholder="Ingrese sus apellidos">
        </div>
        <div class="mb-3">
          <label for="nacionalidad" class="form-label">
            Nacionalidad<span class="text-danger">*:</span>
          </label>
          <input  type="text" class="form-control form-control-sm" id="nacionalidad" 
                  placeholder="Ingrese su nacionalidad">
        </div>
        <div class="mb-3">
          <label for="fechaNac" class="form-label">
            Fecha de nacimiento<span class="text-danger">*:</span>
          </label>
          <input  type="date" class="form-control form-control-sm" id="fechaNac">
        </div>
        <div class="mb-3">
          <label for="cel" class="form-label">
            Celular (10 dígitos)<span class="text-danger">*:</span>
          </label>
          <input  type="number" class="form-control form-control-sm" id="cel" 
                  placeholder="Ingrese su número de celular">
        </div>
        <div class="mb-3">
          <label for="direccion" class="form-label">
            Dirección<span class="text-danger">*:</span>
          </label>
          <input  type="text" class="form-control form-control-sm" id="direccion" 
                  placeholder="Ingrese su calle y número">
        </div>
        <div class="mb-3">
          <label for="cod-postal" class="form-label">
            Código Postal<span class="text-danger">*:</span>
          </label>
          <input  type="number" class="form-control form-control-sm" id="cod-postal" 
                  placeholder="Código Postal">
        </div>
        <div class="mb-3">
          <label class="form-label">
            Viajando por<span class="text-danger">*:</span>
          </label>
          <select type="text" class="form-select form-select-sm">
            <option value="Aire">Aire</option>
            <option value="Tierra">Tierra</option>
            <option value="Mar">Mar</option>
          </select>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="mb-3">
          <label for="email" class="form-label">
            Email<span class="text-danger">*:</span>
          </label>
          <input  type="email" class="form-control form-control-sm" id="email" 
                  placeholder="Ingrese su correo electrónico">
        </div>
        <div class="mb-3">
          <label for="contra" class="form-label">
            Contraseña<span class="text-danger">*:</span>
          </label>
          <input  type="password" class="form-control form-control-sm" id="contra" 
                  placeholder="Cree una contraseña">
        </div>
        <div class="mb-3">
          <label for="contra2" class="form-label">
            Confirme contraseña<span class="text-danger">*:</span>
          </label>
          <input  type="password" class="form-control form-control-sm" id="contra2" 
                  placeholder="Repita contraseña">
        </div>
        <div class="mb-3">
          <label class="form-label">
            Tiempo de estadía<span class="text-danger">*:</span>
          </label>
          <select type="text" class="form-select form-select-sm">
            <option value="Menos de 90 días en EE.UU">Menos de 90 días en EE.UU</option>
            <option value="Más de 90 días en EE.UU">Más de 90 días en EE.UU</option>
            <option value="Indefinido">Indefinido</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Velocidad<span class="text-danger">*:</span>
          </label>
          <select type="text" class="form-select form-select-sm">
            <option value="Trámite Normal">Menos de 90 días en EE.UU</option>
            <option value="Trámite Urgente">Más de 90 días en EE.UU</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Número de trámites<span class="text-danger">*:</span>
          </label>
          <select type="text" class="form-select form-select-sm">
            <option value="1 Trámite (Yo solo)">1 Trámite (Yo solo)</option>
            <option *ngFor="let i of [2,3,4,5,6]" 
                    [value]="i + ' Trámites'">{{ i }} Trámites</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Número pasaporte</label>
          <input  type="text" class="form-control form-control-sm" 
                  placeholder="Ingrese el número de su pasaporte">
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 20px;"
                routerLink="/dashboard">
          <i class="far fa-check-square"></i>
          Validar registro
        </button>
      </div>
    </div>
  </form>  
</div>