<div class="back-eagle">
  <div class="row" style="height: 100%; margin: 0;">
    <div class="col-md-8 col-sm-10 left-panel">
      <h1 class="main-title">SACA TU VISA</h1>
      <h4 class="secondary-title">TRAMITA TU VISA EN LINEA</h4>
      <div>
        <a  class="btn" [routerLink] fragment="start-process"
            style="color: white; background-color: #e8071c; border-color: #e8071c;">
          COMIENZA YA
        </a>
      </div>
    </div>
  </div> 
</div>

<!-- <div class="container" id="start-process">
  <img src="/assets/images/bienvenidos.PNG" alt="Bienvenido" class="img-fluid">
</div> -->
 
<app-start-process id="start-process"></app-start-process>