.back-eagle {
  background-image: url('/assets/images/aguila-fondo3.png');
  height: 70%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-title {
  font-size: 80px;
  font-weight: bold;
  color: wheat;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.secondary-title {
  color: wheat;
  margin-bottom: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.ingreso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.icon-btn button{
  float:left;
  margin:10px;
}

.btn-text {
  width: 60%;
  padding: 0 5px;
  font-size: 16px;
}

.btn-gradient {    
  width: 40%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.15);
  border-top-right-radius: 60px;
  padding: 8px 24px 8px 16px;
  box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}

.btn-green{
  padding: 0px;
  color: #fff;
  background-color: #47a447;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  width: 230px;
}

.btn-blue {
  padding: 0px;
  color: #fff;
  background-color: #0074af;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
}