.btn-nav {
  padding: 8px;
  color: #fff;
  background-color: #084298;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-pills {
  margin-top: 50px;
}

.nav-item {
  margin-right: 10px;
}