.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center;
}

.btn-email {
  background-color: #04336e;
  border-color: #04336e;
  color: white;
  margin-bottom: 120px; font-size: small;
}