<div class="container support">
  <h1 style="margin-top: 120px; font-size: 60px;">
    Soporte
    <i class="fas fa-wrench"></i>
  </h1>
  <p style="font-size: large;">En [nombre-empresa] estamos preocupados porque tu trámite de visa se lleve a cabo de forma correcta y logres obtenerla.</p>
  <hr style="width: 100%;">
  <p style="font-size: small;">En caso de necesitar ayuda o soporte, por favor comunicarse a través del siguiente email:</p>
  <a  class="btn btn-email" type="submit" href="mailto:correo@empresa.com">
  correo@empresa.com
  </a>
</div>

<app-footer></app-footer>